.maincont{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 4rem;
    background-color: #0B0B0B;
    color: rgb(154, 154, 154);
    height: 5rem;
    border-top: 1px solid rgb(67, 67, 67);
}
.link{
    text-decoration: none;
    color: white;
    font-size: 0.9rem;
    margin-right: 1rem;
}