.maincont{
    display: flex;
    flex-direction: column;
    justify-content: first baseline;
    align-items: left;
    background-color: #0B0B0B;
    color: white;
    text-align: bottom;
    padding: 0 4rem;
}
.heroimg{
    background-image: url(https://drop.ndtv.com/video/images/vod/medium/2025-05/935907_maxresdefault.jpg);
    width: 100%;
    overflow: hidden;
    min-height: 50rem;
    border-radius: 2rem;
    margin-top: 2rem;
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;  
    margin-bottom: 3rem;  
}
.textdiv{
    position: absolute;
    bottom: 20%;
    left: 5%;
    color: white;
}
.features{
    font-size: 1.1rem;
    font-weight: 500;
    margin-bottom: 1rem;
    padding: 0.2rem 1rem;
    background: linear-gradient(90deg, #ff6b00 0%, #ff9e00 100%);
    border-radius: 1rem;
}
.featured{
    font-size: 1rem;
    display: flex;
    gap: 1rem;
    font-weight: 700;
}
.herotitle{
    font-size: 2rem;
    font-weight: 800;   
    max-width: 60%;
    width: auto;
}
.herotext{
    font-size: 1rem;
    font-weight: 500;
    max-width: 50%;
    margin-top: 1rem;
    margin-bottom: 1.4rem;
    color: rgb(189, 189, 189);
}
.herobtn {
    cursor: pointer;
    font-size: 1rem;
    background: linear-gradient(90deg, #ff6b00 0%, #ff9e00 100%);
  color: white;
  border: none;
  padding: 0.7rem 1.5rem;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  border-radius: 1.1rem;
}