.maincont {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 4rem;
  background-color: #0B0B0B;
  color: white;
  height: 5rem;
  border-bottom: 1px solid rgb(67, 67, 67);
}


.leftnav {
  font-size: 2rem;
  font-weight: bold;
   user-select: none;
}


.rightnav {
  display: flex;
  align-items: center;
  gap: 1rem;
}


.searchbar {
  display: flex;
  align-items: center;
  height: 2.5rem;
  border-radius: 2rem;
  border: 1px solid rgb(67, 67, 67);
  padding-left: 0.5rem;
}


.navbtn {
  display: flex;
  align-items: center;
  justify-content: center;

  height: 2.5rem;
  padding: 0 0.75rem;
  border: none;
  border-radius: 50%;
  background-color: transparent;

  color: white;
  font-size: 1rem;
}


.navinput {
  height: 100%;
  width: 18rem;
  border: none;
  background-color: #0B0B0B;
  border-radius: 5rem;
  padding: 0 0.2rem;
  font-size: 1rem;
  color: white;
  line-height: 2.5rem;
}

.navinput:focus {
  outline: none;
}


.modebtn {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 50%;
  background-color: #0B0B0B;
  font-size: 1.6rem;
  color: white;
  cursor: pointer;
}


.navbtn svg,
.modebtn svg {
  display: block;
}


@media (max-width: 768px) {
  .maincont {
    padding: 0.75rem 1rem;
    height: 4rem;
  }

  .leftnav {
    font-size: 1.4rem;
  }

  .rightnav {
    gap: 0.5rem;
  }


  .searchbar {
    height: 2.25rem;
    padding-left: 0.25rem;
  }


  .navinput {
    display: none;
  }

  .navbtn {
    height: 2.25rem;
    padding: 0 0.6rem;
  }

  .modebtn {
    height: 2.25rem;
    width: 2.25rem;
    font-size: 1.3rem;
  }
}


@media (max-width: 480px) {
  .leftnav {
    font-size: 1.2rem;
  }
}