.maincont {
    display: flex;
    gap: 1rem;
    overflow-x: auto;
    background-color: #0B0B0B;
    padding: 0px 4rem;
}
.selbtn {
    cursor: pointer;
    font-size: 1rem;
    background: rgba(61, 61, 61, 0.531);
  color: white;
  border: none;
  padding: 0.7rem 1.5rem;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  border-radius: 1.1rem;
  margin-bottom: 3rem;
  text-align: center;
  align-items: center;
}
.selbtn:hover {
    background: linear-gradient(90deg, #ff6b00 0%, #ff9e00 100%);
}