.maincont {
  display: flex;
  gap: 1rem;
  padding: 0 4rem;
  background-color: #0B0B0B;

  overflow-x: auto;
  white-space: nowrap;
  scrollbar-width: none;
}

.maincont::-webkit-scrollbar {
  display: none;
}


.selbtn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.4rem;

  flex-shrink: 0; 

  font-size: 1.1rem;
  font-weight: 600;
  color: white;

  background: rgba(51, 51, 51, 0.625);
  border: none;
  border-radius: 1.1rem;

  padding: 0.65rem 1.4rem;
  cursor: pointer;
  margin-bottom: 3rem;

  transition: all 0.3s ease-in-out;
}

.selbtn:hover {

  background: linear-gradient(90deg, #ff6b00 0%, #ff9e00 100%);
}



@media (max-width: 768px) {
  .maincont {
    padding: 0 1rem;
  }

  .selbtn {
    font-size: 1rem;
    padding: 0.6rem 1.2rem;
  }
}

@media (max-width: 480px) {
  .selbtn {
    font-size: 0.9rem;
    padding: 0.5rem 1rem;
    margin-bottom: 2rem;
  }
}
