@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400;500;600;700&family=Inter:wght@400;500;600&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Space Grotesk, sans-serif;
}
body {
  background-color: #0B0B0B;
}
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #1a1a1a;    
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #3a3a3a;  
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;     
}

* {
  scrollbar-width: thin;
  scrollbar-color: #3a3a3a #1a1a1a;
}
